---

// IMPORT ASTRO ATOMS
import ParagraphLargeSemiboldCyan from "@/atoms/press/paragraph/lg/semibold/cyan/index.astro"
import HeadingOne8xlMediumWhite from "@/atoms/headings/one/index.astro"
import InternalContainPicture from "@/atoms/picture/internal/contain/index.astro"
import Link from "@/atoms/links/index.astro"
import PictureInternal from "@/atoms/picture/internal/index.astro"
import Paragraph2xlWhite from "@/atoms/press/paragraph/2xl/white/index.astro"

// PRESS ARRAY
const press = [

    {
        href:"https://www.instagram.com/p/C1XmlGExDeP/",
        source:"/images/press-images/bill-gates.png",
        title:"Bill Gates visits Light Field Lab - This is Wild",
    },
    {
        href:"https://www.cnet.com/tech/home-entertainment/we-said-hello-to-a-hologram-at-light-field-lab/",
        source:"/images/press-images/cnet.svg",
        title:"Debuts a holographic talking head that looks more realistic than ever",
    },
    {
        href:"https://www.forbes.com/sites/charliefink/2023/02/08/light-field-lab-raises-50m-to-bring-solidlight-holograms-into-the-real-world/?sh=c27d10470701",
        source:"/images/press-images/forbes.svg",
        title:"Once or twice a year I see something that really makes me go, Wow",
    },
    {
        href:"https://www.rollingstone.com/culture-council/articles/holograms-future-entertainment-advertising-1268769/",
        source:"/images/press-images/rolling-stone.png",
        title:"Light Field Lab unveils impressive SolidLight holographic display",
    },
    {
        href:"https://time.com/collection/best-inventions-2022/6228926/light-field-lab-solidlight/",
        source:"/images/press-images/time.png",
        title:"Light Field Lab named one of top 200 inventions",
    },
    {
        href:"https://venturebeat.com/games/light-field-lab-raises-50m-to-manufacture-its-solidlight-holographic-displays/",
        source:"/images/press-images/venture-beat.svg",
        title:"Light Field Lab unveils Defy™ experiences - Space and Time",
    },

]

// HARDCODED DATA
const data = {

    description:"ADDITIONAL PRESS >",
    sub_title:"Light Field Lab - Latest Press Release",
    title:"Press",

}

---
<section class="bg-color-dark_blue w-full">
    <div class="p-16">
        <div class="flex flex-col md:flex-row gap-4 justify-between md:items-center mb-5">
            <div class="heading-animated">
                <HeadingOne8xlMediumWhite>{ data.title }</HeadingOne8xlMediumWhite>
            </div>
            <div class="flex gap-2 md:gap-4">
                <Link href="https://www.lightfieldlab.com/press-release-feb-2023">
                    <Paragraph2xlWhite>{ data.sub_title }</Paragraph2xlWhite>
                </Link>
                <div class="size-7">
                    <InternalContainPicture source="/icons/button-arrow.svg" alternative-text="Arrow" />
                </div>
            </div>
        </div>
        <div class="h-1 w-full mb-10">
            <PictureInternal
                alternative_text="Line"
                source="/images/press-images/press-line.png"
            />
        </div>
            <div class="grid grid-cols-2 md:grid-cols-3 md:gap-10 xl:gap-20 2xl:gap-40">
                {

                    press.map( ( item , index ) =>{
    
                        if( index == 1 ){
    
                            return (

                                    <div class="space-y-10">
                                        <div class="w-10 aspect-[4/3]">
                                            <PictureInternal 
                                                alternative_text={ item.title }
                                                source={ item.source }
                                            />
                                        </div>
                                        <div>
                                            <Link href={ item.href } aria-label = { item.href }>
                                                <Paragraph2xlWhite>{ item.title }</Paragraph2xlWhite>
                                            </Link>
                                        </div>
                                    </div>
    
                            )
    
                        } else if( index == 2 ){

                            return ( 

                                    <div class="space-y-10">
                                        <div class="w-20 aspect-[9/2.1]">
                                            <PictureInternal 
                                                alternative_text={ item.title }
                                                source={ item.source }
                                            />
                                        </div>
                                        <div>
                                            <Link href={ item.href } aria-label = { item.href }>
                                                <Paragraph2xlWhite>{ item.title }</Paragraph2xlWhite>
                                            </Link>
                                        </div>
                                    </div>

                            )

                        }
                        
                        else {

                            return (

                                    <div class="space-y-10">
                                        <div class="w-28 aspect-auto">
                                            <PictureInternal 
                                                alternative_text={ item.title }
                                                source={ item.source }
                                            />
                                        </div>
                                        <div>
                                            <Link href={ item.href } aria-label = { item.href }>
                                                <Paragraph2xlWhite>{ item.title }</Paragraph2xlWhite>
                                            </Link>
                                        </div>
                                    </div>

                            )

                        }
    
                    } )
    
                }
            </div>
        <div class="mt-20 flex justify-center">
            <Link aria_label={ data.description } href="/press-active">
                <ParagraphLargeSemiboldCyan>{ data.description }</ParagraphLargeSemiboldCyan>
            </Link>
        </div>
    </div>
</section>

<script>    
    // SCROLL REVEAL FOR HEADING ANIMATION
    import ScrollReveal from 'scrollreveal';
    document.addEventListener('DOMContentLoaded', () => {
        ScrollReveal().reveal('.heading-animated', {
            origin: 'left',
            distance: '100px',
            duration: 500,
            delay: 200,
            easing: 'ease-in-out',
            reset: false,
        });
    });
</script>
