---

// IMPORT ASTRO ATOMS
import HeadingOneWhite from "@/atoms/headings/one/white/index.astro"
import ImageSize from "@/atoms/press/image-size/index.astro"
import Link from "@/atoms/links/index.astro"
import ParagraphBlue from "@/atoms/press/paragraph/blue/index.astro"
import ParagraphWhite from "@/atoms/press/paragraph/white/index.astro"
import PictureInternalContain from "@/atoms/picture/internal/contain/index.astro"

// IMPORT ASTRO COLLECTION
import { getCollection } from "astro:content"

let press_data = await getCollection("press-content")
press_data = press_data.sort( ( a, b ) => a.data.order - b.data.order )

/* console.log(press_data); */

---

<section class="bg-bluish_black p-16">
    <div class="flex flex-col md:flex-row gap-4 justify-between items-center mb-10">
        <HeadingOneWhite>Press</HeadingOneWhite>
        <div class="flex gap-2 md:gap-4">
            <ParagraphWhite>
                <Link 
                    href="/"
                    aria-label = "Light Field Lab"
                >
                    Light Field Lab - Latest Press Release
                </Link>
            </ParagraphWhite>
            <div class="size-7">
                 <PictureInternalContain 
                    source="/icons/button-arrow.svg" 
                    alternative-text="Arrow" 
                />
            </div>
        </div>
    </div>
    <div class="h-4 w-full my-8">
         <PictureInternalContain 
            source ="/images/press-images/press-line.png" 
            alternative-text="Line"
         />
    </div>
    <div class="grid grid-cols-2 gap-32 mt-32 md:grid-cols-3 md:grid-rows-2">

        {

            press_data.map( ( item, index ) => (

                <div class="col-span-1 row-span-1">
                    <div class=" flex flex-col gap-6 justify-center w-96">
                        
                        <ImageSize 
                            source={ item.data.image }  
                            alternative_text={ item.data.title }
                        />
                        <ParagraphWhite>
                        <Link 
                            href="/"
                            aria-label = { item.data.description }
                        >
                            { item.data.description }
                        </Link>
                        </ParagraphWhite>
                    </div>
                </div>

            ))

        }

    </div>
    <div class="mt-20 flex justify-center">
        <ParagraphBlue>ADDITIONAL PRESS ></ParagraphBlue>
    </div>
</section>
