---

// IMPORT ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"
import ButtonPrimary from "@/atoms/buttons/primary/index.astro"
import ParapraghSmall from "@/atoms/get-solid-light/paragraph/small/index.astro"
import Link from "@/atoms/links/index.astro"

---

<section class="flex justify-center items-center my-16 md:my-32">
    <div class="flex flex-col gap-6 md:gap-20">
        <div class="relative flex">
            <HeadingOne>Get SolidLight</HeadingOne>
            <sup>
                <ParapraghSmall>TM</ParapraghSmall>
            </sup>
        </div>
        <div class="w-90 flex justify-center">
            <ButtonPrimary>
                <Link href="/" aria_label="Apply Button">
                    Apply Now
                </Link>
            </ButtonPrimary>
        </div>
    </div>
</section>
