---

// IMPORT ASTRO ATOMS
import HeadingOne from "@/atoms/headings/one/index.astro"
import ButtonPrimary from "@/atoms/buttons/primary/index.astro"
import ParapraghSmall from "@/atoms/get-solid-light/paragraph/small/index.astro"

---

<section class="flex justify-center items-center my-32">
    <div class="flex flex-col gap-20">
        <div class="relative">
            <HeadingOne>Get SolidLight</HeadingOne>
            <div class="absolute -right-6 top-0">
                <ParapraghSmall>TM</ParapraghSmall>
            </div>
        </div>
        <div class=" w-90 flex justify-center">
            <ButtonPrimary>Apply Now</ButtonPrimary>
        </div>
    </div>
</section>
