---

// IMPORT ASTRO ATOMS
import HeadingSix from "@/atoms/solidlight-systems/headings/six/index.astro"

// GET ASTRO PROPS
const {

    description,
    title,

} = Astro.props

---

<div class="flex flex-col gap-4 p-6">
    <div class="flex flex-col sm:flex-row justify-between gap-3 pt-4 border-t border-black">
        <HeadingSix>{ title }</HeadingSix>
        <p class="sm:w-1/2 font-montserrat">{ description }</p>
    </div>
</div>
