<button class="bg-sky-400 hover:bg-sky-600 px-4 py-2 md:px-8 md:py-3 text-lg rounded-xl flex items-center justify-center gap-2">
    <slot />
    <img src="/images/buttonarrow.svg" class="w-6"/>
</button>
