<button class="bg-sky-400 hover:bg-sky-600 px-12 md:px-20 py-4 md:py-6 text-lg font-medium text-white rounded-xl flex items-center justify-center gap-2">
    <slot />
    <img
        class="size-6"
        src="/images/button-arrow.svg"
    />
</button>
