---
const { quote, name } = Astro.props;
---

<div
  class="flex bg-black h-screen flex-col justify-center gap-10 items-center text-color-primary"
>
  <!-- <img
      src="https://cdn.prod.website-files.com/613fcc397bfae1a76c65af8e/6147874c4fdf0b6cf6fc0542_Asset%2055quotes.png"
      loading="lazy"
      srcset="https://cdn.prod.website-files.com/613fcc397bfae1a76c65af8e/6147874c4fdf0b6cf6fc0542_Asset%2055quotes-p-500.png 500w, https://cdn.prod.website-files.com/613fcc397bfae1a76c65af8e/6147874c4fdf0b6cf6fc0542_Asset%2055quotes-p-800.png 800w, https://cdn.prod.website-files.com/613fcc397bfae1a76c65af8e/6147874c4fdf0b6cf6fc0542_Asset%2055quotes-p-1080.png 1080w, https://cdn.prod.website-files.com/613fcc397bfae1a76c65af8e/6147874c4fdf0b6cf6fc0542_Asset%2055quotes.png 3061w"
      alt=""
      class="h-screen"
    /> -->
  <img src="/testimonials/inverted-comma.svg" alt="" class="h-10 sm:h-12" />
  <div class="px-52 text-center">
    <h5 class="text-color-primary font-montserrat text-3xl sm:text-3xl">
      {quote}
    </h5>
  </div>
  <p class="font-montserrat text-white sm:text-lg">
    {name}
  </p>
</div>
