---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO COMPONENTS
import TechTitle from "@/components/home/the-tech/titles/index.astro"

// IMPORT ASTRO ATOMS
import HeadingOneWhite from "@/atoms/headings/one/white/index.astro"
import BlueGradientUnderline from "@/atoms/blue-gradient-underline/index.astro"
import ParagraphThreeXlWhite from "@/atoms/paragraphs/three-xl/white/index.astro"

// HARDCODED DATA
const data = {

    description_first: "SolidLight is unlike anything you’ve experienced before. This is beyond holograms.",
    description_second: "SolidLight is the next generation of display combining unprecedented resolution and density to accurately project dimensional wavefronts to form objects that escape the screen and merge with reality.",
    title: "The Tech",

}

const titles = [

    {

        number: "1",
        title: "High Performance Proprietary FPGA, Electronics, Wall & Display Controllers"

    },
    {

        number: "2",
        title: "Photonics Array & Nanoparticle Polymer Fused Surface Energy Relay"

    },
    {

        number: "3",
        title: "Complex Phaseguide Modulation Surface"

    }

]

---

<section class="bg-black py-12">
    <Container>
        <div class="flex flex-col gap-10 my-10">
            <div class="tech-title-animated">
                <HeadingOneWhite>{ data.title }</HeadingOneWhite>
            </div>
            <BlueGradientUnderline />
            <div class="w-full md:w-[55%]">
                <div class="flex flex-col gap-8">
                    <ParagraphThreeXlWhite>{ data.description_first }</ParagraphThreeXlWhite>
                    <ParagraphThreeXlWhite>{ data.description_second }</ParagraphThreeXlWhite>
                </div>
            </div>
            <div id="animation-container" class="md:px-16">
                <div class="w-full h-full">
                    <img
                        alt="the-tech"
                        class="w-full h-full"
                        id="the-tech-image"
                        src="/images/the-tech-images/the-tech.jpg"
                    />
                </div>
            </div>
            <div class="md:hidden flex flex-col gap-6">
                {

                    titles.map( ( value ) => {

                        return(
                            <TechTitle
                                number={ value.number }
                                title={ value.title }
                            />
                        )

                    })

                }
            </div>
        </div>
    </Container>
</section>

<script>
    const images = [
        '/images/the-tech-images/frame-1.jpg',
        '/images/the-tech-images/frame-2.jpg',
        '/images/the-tech-images/frame-3.jpg',
        '/images/the-tech-images/frame-4.jpg',
        '/images/the-tech-images/frame-5.jpg',
        '/images/the-tech-images/frame-6.jpg',
        '/images/the-tech-images/frame-7.jpg',
        '/images/the-tech-images/frame-8.jpg',
        '/images/the-tech-images/frame-9.jpg',
        '/images/the-tech-images/frame-10.jpg',
        '/images/the-tech-images/frame-12.jpg',
        '/images/the-tech-images/frame-13.jpg',
        '/images/the-tech-images/frame-14.jpg',
        '/images/the-tech-images/frame-15.jpg',
        '/images/the-tech-images/frame-16.jpg',
        '/images/the-tech-images/frame-17.jpg',
        '/images/the-tech-images/frame-18.jpg',
        '/images/the-tech-images/frame-19.jpg',
        '/images/the-tech-images/frame-20.jpg',
        '/images/the-tech-images/frame-21.jpg',
        '/images/the-tech-images/frame-22.jpg',
        '/images/the-tech-images/frame-23.jpg',
        '/images/the-tech-images/frame-24.jpg',
        '/images/the-tech-images/frame-25.jpg',
        '/images/the-tech-images/frame-26.jpg',
        '/images/the-tech-images/frame-27.jpg',
        '/images/the-tech-images/frame-28.jpg',
        '/images/the-tech-images/frame-29.jpg',
        '/images/the-tech-images/frame-31.jpg',
        '/images/the-tech-images/frame-32.jpg',
        '/images/the-tech-images/the-tech.jpg',
    ];

    window.addEventListener('scroll', () => {

        const container = document.getElementById( 'animation-container' )
        const image = document.getElementById( 'the-tech-image' ) as HTMLImageElement
        const containerTop = container.offsetTop
        const containerHeight = container.offsetHeight
        const scrollTop = window.scrollY
        const windowHeight = window.innerHeight
        const startScroll = containerTop - windowHeight
        const endScroll = containerTop + containerHeight - 700

        if ( scrollTop >= startScroll && scrollTop <= endScroll ) {

            const scrollRange = endScroll - startScroll
            const totalImages = images.length
            let scrollPosition = scrollTop - startScroll
            if ( scrollPosition < 0 ) scrollPosition = 0
            const imageIndex = Math.floor( ( scrollPosition / scrollRange ) * ( totalImages - 1 ) )
            // UPDATE THE SCR OF IMAGE
            image.src = images[ imageIndex ]

        } else if ( scrollTop > endScroll ) {

            // UPDATE THE SCR OF IMAGE TO LAST IMAGE
            image.src = images[ images.length - 1 ]

        }
    })

    // SCROLL REVEAL FOR ANIMATION
    import ScrollReveal from 'scrollreveal';
    document.addEventListener('DOMContentLoaded', () => {
        ScrollReveal().reveal('.tech-title-animated', {
            origin: 'left',
            distance: '100px',
            duration: 500,
            delay: 200,
            easing: 'ease-in-out',
            reset: true,
        });
    });
</script>
