---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

---
<header class="bg-black h-20 fixed z-50 w-full items-center justify-center overflow-hidden">
    <Container>
        <nav class="flex items-center cursor-pointer">
            <div class="flex">
                <div class="absolute left-10 h-18 w-40 py-4">
                    <a href="/home">
                        <img
                            alt=""
                            class="h-full w-full hidden sm:block"
                            src="/logo/Lightfield-logo.png"
                        >
                    </a>
                    <a href="/home">
                        <img
                        alt=""
                        class="h-12 w-8 sm:hidden"
                        src="/logo/logo.png"
                    >
                    </a>
                </div>
                <div class="absolute py-5 lg:py-0 right-10">
                    <img
                        alt=""
                        class="h-5 w-5 lg:hidden"
                        onclick="dropdown()"
                        src="/icons/hamburger-icon.svg"
                    >
                    <ul class="lg:flex lg:bg-black lg:space-x-6 lg:mr-20 lg:py-6 lg:mt-0 lg:space-y-0 lg:px-0 py-5 pl-8 pr-20 mt-10 space-y-4 bg-white right-0 fixed z-50" id="submenu">
                        <li class="text-cyan-500"><a href="">Home</a></li>
                        <li class="lg:text-white hover:text-cyan-500"><a href="/the-tech">The Tech</a></li>
                        <li class="lg:text-white hover:text-cyan-500"><a href="/press">Press</a></li>
                        <li class="lg:text-white hover:text-cyan-500"><a href="/contact">Contact</a></li>
                        <li class="lg:text-white hover:text-cyan-500"><a href="/jobs">Jobs</a></li>
                        <li class="lg:text-white hover:text-cyan-500"><a href="/holowire">HoloWire</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </Container>
</header>

<script type="text/javascript">
    function dropdown(){
        document.querySelector('#submenu').classList.toggle('hidden');
    }
    dropdown()
</script>
