---
//IMPORT COMPONENTS
import Container from "./container/index.astro";

const testimonials = [
  {
    quote:
      "Light Field Lab has the potential to change the way we view and interact with media. This is essentially the holy grail of optical display technology, eneabling things that seem like science fiction to be possible today.",
    name: "Vinod Khosla, CEO Khosla Ventures",
  },
  {
    quote:
      "Light Field Lab is posititoned to change the game for display. The ability to replace physical objects with photons of light will impact every industry",
    name: "Anton Simunovic, Cheif Investor Officer, Almuni Ventures Group",
  },
  {
    quote:
      "Verizon's new 5G network features the higher bandwidth, low latency, and speed/throughput to deliver next generation content. We're excited about our new Verizon Ventures investment in Light Field Lab as they bring such innovation to delivering content via next-gen networks through their displays.",
    name: "Kristina Serafim, Investment Director at Verizon Ventures",
  },
  {
    quote:
      "Light Field Lab's holographic display technologies enable entirely new business opportunities across consumer and enterprise markets. Light Field Lab has the leadership and technical expertise to bring this vision of the holographic future to life.",
    name: "Ingo Ramesohl, Managing Director of Bosch Venture Capital",
  },
  {
    quote:
      "Light Field Lab's holographic displays are the most exciting new technology we have seen in the entertainment space to date. We are thrilled to meaningfully participate in their Series A and are well positioned to help them align with the industry's top content creators to accelerate holographic media distribution on next-generation networks.",
    name: "Ankur Prakash, VP of Liberty Global Ventures",
  },
  {
    quote:
      "Light Field Lab's holographic technologies are a new frontier in the display space. The team has created something that was once considered science fiction, but now exists in reality. This enables new business opportunities and unlocks digital environments that no one has seen before.",
    name: "Huang Lee, Managing Partner at Taiwania Capital",
  },
  {
    quote:
      "Light Field Lab's technologies not only enable the creation of real holographic objects, but also new innovations for automotive lighting that helps us harness light to transform automotive interfaces and illumination systems.",
    name: " Dr. Michael Kleinkes, Member of the Executive Board and Head of Lighting Development at HELLA",
  },
];
---

<section class="flex justify-between items-center">
  <!-- {
    testimonials.map((item) => (
      <Container quote={item.quote} name={item.name} />
    ))
  } -->
  <div
    class="flex bg-black h-screen flex-col justify-center gap-10 items-center text-color-primary"
  >
    <img src="/testimonials/inverted-comma.svg" alt="" class="h-10 sm:h-12" />
    <div class="px-52 text-center">
      <h5 class="text-color-primary font-montserrat text-3xl sm:text-3xl">
        {testimonials[0].quote}
      </h5>
    </div>
    <p class="font-montserrat text-white sm:text-lg">
      {testimonials[0].name}
    </p>
  </div>
</section>
