---

// IMPORT ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import BlueGradientLine from "@/atoms/blue-gradient-line/index.astro"
import HeadingThree from "@/atoms/headings/three/index.astro"
import HeadingTwoSevenXl from "@/atoms/headings/two/seven-xl/medium/index.astro"
import ParagraphTwoXl from "@/atoms/paragraphs/two-xl/index.astro"

const data = {

	description: "Imagine one day being able to replace physical objects with nothing but light - a world where digital objects escape the screen and integrate seamlessly with reality. Light Field Lab is redefining what’s perceived as real to disrupt a world consumed by flat images, technology previously thought limited to science fiction - but real today.",
	heading: "Light is Our Medium Space is Our Canvas",
	title: "WELCOME TO LIGHT FIELD LAB®",

}

---

<section class="py-20 mx-10 md:mx-20">
	<HeadingThree>{ data.title }</HeadingThree>
	<BlueGradientLine />
	<div class="flex flex-wrap gap-y-8 pt-5 md:grid md:grid-cols-5 md:gap-y-0 md:gap-x-20 md:pt-10">
		<div class="heading-animated md:col-span-3">
			<HeadingTwoSevenXl>{ data.heading }</HeadingTwoSevenXl>
		</div>
		<div class="md:col-span-2">
			<ParagraphTwoXl>{ data.description }</ParagraphTwoXl>
		</div>
	</div>
</section>

<script>
	// SCROLL REVEAL FOR HEADING ANIMATION
	import ScrollReveal from "scrollreveal"
	document.addEventListener("DOMContentLoaded", () => {
		ScrollReveal().reveal(".heading-animated", {
			origin: "left",
			distance: "100px",
			duration: 500,
			delay: 200,
			easing: "ease-in-out",
			reset: false,
		})
	})
</script>
