---

// IMPORT ASTRO ATOMS
import Link from "@/atoms/links/index.astro"
import PictureContain from "@/atoms/picture/contain/index.astro"

---

<Link href="/" aria_label="lightfield logo">
    <div class="h-10 w-44">
        <PictureContain
            alternative_text="lightfield logo"
            source="/logo/lightfield-logo.png"
        />
    </div>
</Link>
