---

// IMPORT ATOMS
import Link from  "@/atoms/links/index.astro"
import LogoIcon from "@/atoms/picture/icons/index.astro"
import ParagraphFooter from "@/atoms/footer/footer-paragraph/index.astro"
import ParagraphGrey from "@/atoms/footer/footer-paragraph/grey/index.astro"

// IMPORT COLLECTIONS
import { getCollection } from "astro:content"
let footer_data = await getCollection("footer-columns")

// FILTER DATA
const links = footer_data.filter( item => item.data.column === "Links" )
const location = footer_data.filter( item => item.data.column === "Location" )
const phone = footer_data.filter( item => item.data.column === "Phone" )
const social = footer_data.filter( item => item.data.column === "Email" )

---

<footer class="bg-color-footer_background border-t-2 border-black grid grid-cols-2 md:grid-cols-4">
    <div class="border-black border-r-[1px] p-10">
        <ul class="space-y-0.5">
            {

                links[0].data.item.map( ( link, index ) => {

                    return (
                        <li class="font-semibold hover:text-cyan-500 text-black text-lg">
                            <Link href={ link.href } area_label={ link.title }>{ link.title }</Link>
                        </li>
                    )

                })

            }
        </ul>
    </div>
    <div class="border-black border-r-[1px] p-10 hidden md:flex">
        <div class="flex flex-col gap-4" >
            <ParagraphFooter>{ location[0].data.column }</ParagraphFooter>
            <ParagraphGrey>{ location[0].data.title }</ParagraphGrey>
        </div>
    </div>
    <div class="border-black border-r-[1px] p-10 hidden md:flex">
        <div class="flex flex-col gap-4">
            <ParagraphFooter>{ phone[0].data.column }</ParagraphFooter>
            <ParagraphGrey>
                <Link href = {`tel:${phone[0].data.phone}`} area_label = { phone[0].data.title } >
                    { phone[0].data.title }
                </Link>
            </ParagraphGrey>
        </div>
    </div>
    <div class="border-black border-none md:border-r-[1px] p-10">
        <div class="flex flex-col justify-between">
            <div class="hidden md:block lg:block">
                <div class="flex flex-col gap-4">
                    <ParagraphFooter>{ social[0].data.column }</ParagraphFooter>
                    <ParagraphGrey>
                        <Link href = {`mailto:${ social[0].data.title }`} area_label = { social[0].data.title } >
                            { social[0].data.title }
                        </Link>
                    </ParagraphGrey>
                </div>
            </div>
            <div>
                <div class="flex flex-col w-24 gap-4 md:mt-16 md:flex-row lg:flex-row xl:flex-row 2xl:flex-row">

                    {

                        social[0].data.item.map( ( icon, index ) => {

                            return (

                                <Link href={ icon.href }>
                                    <div class="size-7">
                                        <LogoIcon
                                            alternative_text={ icon.title }
                                            source={ icon.source }
                                        />
                                    </div>
                                </Link>

                            )

                        })

                    }
                </div>
            </div>
        </div>
    </div>
</footer>
