---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

// IMPORT ASTRO ATOMS
import Links from  "@/atoms/links/index.astro"
import InternalContainPicture from "@/atoms/picture/internal/contain/index.astro"

// IMPORT COLLECTIONS
import { getCollection } from "astro:content"


let column_1_data = await getCollection("footer-column-1");
column_1_data = column_1_data.sort( ( a, b ) => a.data.order - b.data.order )

---
<footer class=" bg-[#E3E3E2] border-t-2 border-black mx-0 px-0">
     
        <div class="flex justify-center w-full">
            <div class=" border-r-[1px] border-black w-[50%] p-10 md:[25%] lg:[25%] xl:w-[25%] 2xl:[25%]">
                <ul class="space-y-1" >
                    { 

                        column_1_data.map( ( item, index ) => {

                            return (
                                   <li class=" text-black text-xl font-semibold hover:text-cyan-500" >
                                        <Links href = { item.data.href } area_label = { item.data.title }>{ item.data.title }</Links>
                                   </li>
                            )

                        })

                    }
                </ul>
            </div>
            <div class="hidden md:block lg:block border-r-[1px] w-[50%] border-black p-10 md:[25%] lg:[25%] xl:w-[25%] 2xl:[25%]">
                <div class="flex flex-col gap-4" >
                    <p class=" text-lg lg:text-xl font-semibold">
                        Location
                    </p>
                    <p class="text-lg lg:text-lg font-[400] text-[#66678B]">
                        San Jose, CA
                    </p>
                </div>
            </div>
            <div class="hidden md:block lg:block border-r-[1px] border-black p-10 w-[50%] md:[25%] lg:[25%] xl:w-[25%] 2xl:[25%]">
                <div class="flex flex-col gap-4">
                    <p class=" text-lg lg:text-xl font-semibold">
                        Phone
                    </p>

                    <p class="text-lg lg:text-lg font-[400] text-[#66678B] hover:text-cyan-500">
                        <Links href = "tel:+18335444843" area_label = "1 (833) LIGHT 4D" >
                            1 (833) LIGHT 4D
                        </Links>
                    </p>
                </div>        
            </div>
            <div class=" border-l-[1px] border-black p-10 md:[25%] w-[50%] flex flex-col lg:[25%] xl:w-[25%] 2xl:[25%]">
                <div class=" hidden md:block lg:block">
                    <div class="flex flex-col gap-4">
                        <p class=" text-lg lg:text-xl font-semibold" >
                            Email
                        </p>
                        <p class="text-lg lg:text-lg font-[400] text-[#66678B] hover:text-cyan-500">
                            <Links href = "mailto:info@lightfieldlab.com" area_label = "info@lightfieldlab.com" >
                                info@lightfieldlab.com
                            </Links>
                        </p>
                    </div>
                </div>
                <div class="flex flex-col w-24 gap-4 md:mt-16 md:flex-row lg:flex-row xl:flex-row 2xl:flex-row">
                    <div class=" w-6 md:w-12 lg:w-12 xl:w-12 2xl:w-12 aspect-square">
                        <Links href = "https://x.com/lightfieldlab?lang=en" area_label="X">
                            <InternalContainPicture source = "/icons/x-image.png" alternative_text = "X"></InternalContainPicture>
                        </Links>
                    </div>
                    <div class=" w-6 md:w-12 lg:w-12 xl:w-12 2xl:w-12 aspect-square">
                        <Links href = "https://www.facebook.com/lightfieldlab/" area_label="Facebook">
                            <InternalContainPicture source = "/icons/facebook-image.png" alternative_text = "Facebook"></InternalContainPicture>
                        </Links>
                    </div>
                    <div class=" w-6 md:w-12 lg:w-12 xl:w-12 2xl:w-12 aspect-square">
                       <Links href = "https://www.linkedin.com/company/light-field-lab-inc./" area_label="LinkedIn">
                            <InternalContainPicture source = "/icons/linkedIn-image.png" alternative_text = "LinkedIn"></InternalContainPicture>
                        </Links>
                    </div>
                </div>
            </div>
        </div>
</footer>
