---

// IMPORT ASTRO ATOMS
import Links from  "@/atoms/links/index.astro"
import InternalContainPicture from "@/atoms/picture/internal/contain/index.astro"
import FooterContainerOne from "@/atoms/footer/footer-container/one/index.astro"
import FooterContainerTwo from "@/atoms/footer/footer-container/two/index.astro"
import IconSize from "@/atoms/footer/icon-size/index.astro"
import ParaBlack from "@/atoms/footer/footer-paragraph/black/index.astro"
import ParaGrey from "@/atoms/footer/footer-paragraph/grey/index.astro"

// IMPORT COLLECTIONS
import { getCollection } from "astro:content"


let column_1_data = await getCollection("footer-column-1");
column_1_data = column_1_data.sort( ( a, b ) => a.data.order - b.data.order )

---

<footer class=" bg-footer-bg border-t-2 border-black mx-0 px-0">
        <div class="flex justify-center w-full">
            <FooterContainerOne>
                <ul class="space-y-1" >
                    { 

                        column_1_data.map( ( item, index ) => {

                            return (
                                   <li class=" font-semibold hover:text-cyan-500 text-black text-xl" >
                                        <Links href = { item.data.href } area_label = { item.data.title }>{ item.data.title }</Links>
                                   </li>
                            )

                        })

                    }
                </ul>
            </FooterContainerOne>
            <FooterContainerTwo>
                <div class="flex flex-col gap-4" >
                    <ParaBlack>Location</ParaBlack>
                    <ParaGrey>San Jose, CA</ParaGrey>
                </div>
            </FooterContainerTwo>
            <FooterContainerTwo>
                <div class="flex flex-col gap-4">
                    <ParaBlack>Phone</ParaBlack>
                    <ParaGrey>
                        <Links href = "tel:+18335444843" area_label = "1 (833) LIGHT 4D" >
                            1 (833) LIGHT 4D
                        </Links>
                    </ParaGrey>
                </div>        
            </FooterContainerTwo>
            <FooterContainerOne>
                <div class="flex flex-col" >
                    <div class=" hidden md:block lg:block">
                        <div class="flex flex-col gap-4">
                            <ParaBlack>Email</ParaBlack>
                            <ParaGrey>
                                <Links href = "mailto:info@lightfieldlab.com" area_label = "info@lightfieldlab.com" >
                                    info@lightfieldlab.com
                                </Links>
                            </ParaGrey>
                        </div>
                    </div>
                    
                    <div class="flex flex-col w-24 gap-4 md:mt-16 md:flex-row lg:flex-row xl:flex-row 2xl:flex-row">
                        <IconSize>
                            <Links href = "https://x.com/lightfieldlab?lang=en" area_label="X">
                                <InternalContainPicture source = "/icons/x-image.png" alternative_text = "X"></InternalContainPicture>
                            </Links>
                        </IconSize>
                        <IconSize>
                            <Links href = "https://www.facebook.com/lightfieldlab/" area_label="Facebook">
                                <InternalContainPicture source = "/icons/facebook-image.png" alternative_text = "Facebook"></InternalContainPicture>
                            </Links>
                        </IconSize>
                        <IconSize>
                            <Links href = "https://www.linkedin.com/company/light-field-lab-inc./" area_label="LinkedIn">
                                    <InternalContainPicture source = "/icons/linkedIn-image.png" alternative_text = "LinkedIn"></InternalContainPicture>
                            </Links>
                        </IconSize>
                    </div>
                </div>
            </FooterContainerOne>
        </div>
</footer>

