---

// IMPORTS ASTRO LAYOUTS
import Container from "@/layouts/container/index.astro"

---
<footer class="bg-black py-20">
    <Container>
        <p class="text-white">Footer</p>
    </Container>
</footer>
